html{
  scroll-behavior: smooth;
}
.nav-menu-mobile {
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
}

.nav-menu-mobile:not(.hidden) {
  transform: translateX(0%);
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq-answer:not(.hidden) {
  max-height: 1000px;
  transition: max-height 0.5s ease-in;
}

